.home {
    width: 100vw;
    height: 200vh;
    background-image: url(https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80);
    background-position: center top;
	background-size: cover;
}
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');




.main_nav ul li {
    float: left;
    margin-left:29px;
    position: relative;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    overflow: hidden;
}



.main_nav ul li a:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    height: 2px;
    width: 100%;
    background: red;
    transition: all 0.3s ease-in-out;
}

.main_nav ul li a:after {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    height: 2px;
    width: 110%;
    background: white;
    transition: all 0.3s ease-in-out;
}

.main_nav ul li:hover a:before {
    left: 0;
}

.main_nav ul li:hover a:after {
    right: 0;
}

/*This Media Query use for iPad Portrait View*/




@media screen and (min-width: 768px) {
    .nav_ico {
        display: none;
    }
}

/*This Media Query use for Mobile View*/
@media screen and (max-width: 767px) {
    .nav_ico {
        display: block;
        position: relative;
        

    }

 

}

.card1 {
    background-color:transparent;
    margin-top: 60px;
    margin-left: 40px;
 
    
}

.card2{
  background-color:transparent;
  margin-top: 60px;
 
}
.card3{
  background-color:transparent;
  margin-top: 60px;
 
}
#i1{
  height: 33vh;
  width: 28vw;
}
#i2{
  height: 33vh;
 
}
#i3{
  height: 33vh;
  width: 28vw;
}
.i{
  height: 88vh;
 
}

.ch{
    color: deeppink;
}
.cp{
  color: chocolate;
}

.g{
  color: deeppink;
  
}
.n{
  color: fuchsia;
}
.cr{
  margin-top: 10px;
}